.App {
  text-align: center;
  height: 100%;
  margin: 0;
  background: lightblue;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.mainContent{
  flex: 1;
}

input[type=text] {
  width: 20%;
  padding: 6x 10px;
  margin: 4px 0;
  box-sizing: border-box;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
